<div *ngIf = "isShowForm">
  <input placeholder="English" [(ngModel)]="newEn"/>
  <br>
  <input placeholder="Vietnamese" [(ngModel)]="newVn">
  <p></p>
  <button (click)="addWord()" *ngIf = "isShowForm">Thêm từ mới</button>
</div>
<button (click)="isShowForm = true" *ngIf = "!isShowForm">Thêm từ mới</button>
<p></p>

<select [(ngModel)] = "filterStatus">
  <option value="XEM_TAT_CA">Tất cả</option>
  <option value="XEM_TU_DA_NHO">Từ đã nhớ</option>
  <option value="XEM_TU_CHUA_NHO">Từ chưa nhớ</option>
</select>
<br/>
<div *ngFor="let word of arrWords">
  <div  class = "word" *ngIf = "getShowStatus(word.memorized)">
    <h4 [ngStyle]="{color: word.memorized ? 'green' : 'red'}">{{ word.en }}</h4>
    <p>{{ word.vn }}</p>
    <button (click) = "deleteWord(word.id)">Xoá</button>
    <button (click) = "word.memorized = !word.memorized">
      {{ word.memorized ? 'Đã thuộc' : 'Chưa thuộc'}}
    </button>
  </div>
</div>
